<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644571177544-ma05cdperphv04aan9timo55mbkluuvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644571177544-ma05cdperphv04aan9timo55mbkluuvc</string>
	<key>API_KEY</key>
	<string>AIzaSyDF-FAoVeJMrWURZJstZT8Z6ECU09qjS2s</string>
	<key>GCM_SENDER_ID</key>
	<string>644571177544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bcaQuiz</string>
	<key>PROJECT_ID</key>
	<string>bca-quiz-d0361</string>
	<key>STORAGE_BUCKET</key>
	<string>bca-quiz-d0361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644571177544:ios:74723c0c5fc81954266e7d</string>
</dict>
</plist>